
// Shared variables and mixins
@import
    "global/var"                        // global variables
,   "bootstrap/bootstrap/mixins"        // Bootstrap mixins
,   "bourbon/bourbon"                   // mixins
;


@import
    // Plugins, overrides plugins' style
    "plugins/bootstrap-slider"
,   "plugins/responsive-tables"
,   "plugins/easypiecharts"
,   "plugins/toastr"
,   "plugins/sparkline"
,   "plugins/jquery-steps"
,   "plugins/angular-ui-tree"
,   "plugins/morris"
,   "plugins/jqvmap"
,   "plugins/ng-tags-input"
,   "plugins/angular-loading-bar"

    // Pages
,   "global/var-pages"
,   "pages/dashboard"
,   "pages/pages"
,   "pages/err"
,   "pages/lock-screen"
,   "pages/tasks"
,   "pages/auth"
,   "pages/profile"
,   "pages/ui"
,   "pages/invoice"
,   "pages/demo"

    // sections
,   "sections/layouts"
,   "sections/shared"
,   "sections/nav"
,   "sections/nav-off-canvas"
,   "sections/nav-horizontal"
,   "sections/nav-min"
,   "sections/header"
,   "sections/body"
;

// Min Height Class
.min-400 {
  min-height: 400px;
}

// landing page
.dock-background {
  background-image: url(https://s3.amazonaws.com/outdoola/dock.jpg);
  height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
  .jumbotron {
    background-color: rgba(255, 255, 255, 0);
  }
  .row > div {
    padding: 30px;
    background: #eaeaea;
    margin-right: 1%;
  }
}

// Wizard
.wiz-body {
  background:#f3f3f3;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding:20px;
  padding-bottom: 45px;
  // margin-bottom:20px;
}
