<div class="page page-profile">

    <div class="row">
        <div class="col-md-6">

            <section class="panel panel-box">
                <div class="panel-top bg-primary">
                    <div class="text-center">
                        <h3>{{profile.first_name}} {{profile.last_name}}</h3>
                        <p>@{{profile.username}}</p>
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                </div>
                <div class="panel-img bg-primary">
                    <img alt="" ng-src="data:{{profile.picture.filetype}};base64,{{profile.picture.base64}}" class="img-circle fill">
                </div>
                <div class="list-justified-container">
                    <ul class="list-justified text-center">
                        <li>
                            <p class="size-h3">3</p>
                            <p class="text-muted">Reviews</p>
                        </li>
                        <li>
                            <p class="size-h3">3</p>
                            <p class="text-muted">Listings</p>
                        </li>
                        <li>
                            <p class="size-h3">23</p>
                            <p class="text-muted">Booked</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Profile Info</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-star"></span>
                                    <label>Rating</label>
                                    4.5 / 5
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    {{profile.username}}
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    {{profile.email}}
                                </li>
                                <!-- <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Address</label>
                                    Street 123, Avenue 45, Country
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    (+012) 345 6789
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    Australia
                                </li> -->
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-success">
                            <i class="fa fa-bookmark-o"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">55</p>
                            <p class="text-muted">Reviews</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box">
                        <span class="box-icon rounded bg-info">
                            <i class="fa fa-trophy"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">4</p>
                            <p class="text-muted">Trophies Earned</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
