<!-- Temporaraly using this for the dropdown template -->
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<h3>Add A New Adventure.</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="adventureName">Adventure's Name</label>
        <input class="form-control required" id="adventureName" placeholder="Name" ng-model="newAdventure.name">
      </div>
      <div class="form-group">
        <label for="adventureName">Adventure's Location</label>
        <input type="text" ng-model="newAdventure.location" placeholder="Start Typing The Address" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      </div>

      <div class="form-group">
        <label for="adventureDescription">Description</label>
        <textarea class="form-control required" id="adventureDescription" placeholder="Description" ng-model="newAdventure.description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="adventurePrice">Price Per Person</label>
      <input
        type="number"
        name="currency"
        min="0"
        max="9999"
        step="0.01"
        size="4"
        title="CDA Currency Format - no dollar sign and no comma(s) - cents (.##) are optional"
        class="form-control required"
        id="adventurePrice"
        placeholder="$00.00"
        ng-model="newAdventure.price">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Upload A Picture</label>
        <input type="file" id="exampleInputFile" ng-model="newAdventure.picture">
        <p class="help-block">Select a picture to represent your Adventure.</p>
      </div>
      <div class="form-group">
        <label for="adventureSize">Adventure Size</label>
        <select id="adventureSize" class="form-control required" ng-model="newAdventure.size">
          <option value="" disabled selected>Choose The Number Of People</option>
          <option value='1'>1 Person</option>
          <option value='2'>2 People</option>
          <option value='3'>3 People</option>
          <option value='4'>4 People</option>
          <option value='5'>5 People</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default btn-primary" ng-click="addAdventure(newAdventure);newAdventure = null;">Add Your New Adventure</button>
    </form>
  </div>
</div>
<br>
<br>


<h3>Your Hosted Adventures.</h3>
<hr>
<div ng-repeat="adventure in adventures | reverse" class="panel panel-default" ng-show="user.uid == adventure.text.owner.uid" >
  <div class="clearfix panel-heading">
    <h3 class="panel-title">{{adventure.text.name}}</h3>
    <div class="pull-right">
      <button type="button" class="btn btn-primary">Edit</button>&nbsp;
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
    <p>Price: <strong>${{adventure.text.price}}</strong> / Person</p>
    <img  class="img-responsive img-thumbnail" src="//placekitten.com/g/200/200">
    </div>
    <div class="col-xs-6">
    <p><strong>What You're Getting Into:</strong></p>
    <p>{{adventure.text.description}}</p>
    <p ng-show="adventure.text.size.length >= 1"><strong>This Adventure Books:</strong></p>
    <p ng-show="adventure.text.size.length >= 1">{{adventure.text.size == '1' ? adventure.text.size + " Person": adventure.text.size + " People" }}</p>
    </div>
  </div>
</div>


<!-- <div class="fb-image-upload">
  <form ng-submit="upload_image(image)">
    <div class="fb-error" ng-show="error">{{error}}</div>
    <div class="fb-inputs" ng-hide="image.isUploading">
      <input class="fb-image-upload" fb-image-upload class="fb-input" type="file" name="image"/>
      <input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>
    </div>
    <div class="fb-uploading" ng-show="image.isUploading">
      Uploading...
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
 -->
