<div class="page" toggleOffCanvas>
   <section class="col-md-6">
   <div class="search-box visible-md visible-lg">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
      <input class="form-control" type="text" class="form-control" ng-model="searchText" placeholder="Search anything here.">
    </div>
  </div>
  <p class="clearfix"></p>
     <section class="panel panel-default">
          <!-- <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Google Map - Dynamic Map</strong></div> -->
          <div class="panel-body">
              <map class="ui-map" zoom="3" center="[37.7034225,-93.8400607]" map-type-id="TERRAIN" disable-default-u-i="true">
                <marker ng-repeat="adventure in adventures | reverse | filter:searchText | filter:{size:filterSize}" position="encodeAddress( {{ adventure.location }} );" icon="//s3.amazonaws.com/outdoola/marker.png" on-click="toAdventure({{adventure.$id}})"></marker>
              </map>
          </div>
      </section>
      <section class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <h5 class="panel-body"><strong>Your Trip Date: {{dt | date:'fullDate'}}</strong></h5>
                <div class="col-sm-3" data-ng-controller="TypeaheadCtrl" ng-model="state">
                  <input type="text"
                     ng-model="selected"
                     typeahead="state for state in states | filter:$viewValue | limitTo:8"
                     class="form-control"
                     placeholder="Which state?">
                </div>
                <div class="col-sm-4">
                    <div class="input-group ui-datepicker">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="dt"
                               is-open="opened"
                               min="minDate"
                               max="'2015-06-22'"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)"
                               ng-required="true"
                               close-text="Close">
                        <span class="input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-4">
                  <span class="ui-select">
                      <select ng-model="filterSize">
                          <option value="1">1 Person</option>
                          <option value="2">2 People</option>
                          <option value="3">3 People</option>
                          <option value="4">4 People</option>
                          <option value="5">5 People</option>
                          <option value="6">6 People</option>
                          <option value="7">7 People</option>
                          <option value="8">8 People</option>
                          <option value="9">9 People</option>
                          <option value="10">10 People</option>
                          <!-- <option value="">10+ People</option> -->
                      </select>
                  </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
          <h5><strong>Types Of Adventures:</strong></h5>
          <dl>
              <dd>
                  <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1" checked><span>Hunting</span></label>
                  <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option2" ><span>Fishing</span></label>
                  <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>Camping</span></label>
                  <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option3"><span>Water</span></label>
              </dd>
          </dl>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <h5><strong>Price Range</strong></h5>
              <input type="text"
                 value=""
                 ui-range-slider
                 data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="10"
                 data-slider-orientation="horizontal"
                 data-slider-value="[20, 80]"
                 data-slider-selection="before"
                 data-slider-tooltip="show"
                 data-slider-handle="round">
              <h5><strong>Distance Away</strong></h5>
              <input type="text"
                 value=""
                 ui-range-slider
                 data-slider-min="0"
                 data-slider-max="100"
                 data-slider-step="10"
                 data-slider-orientation="horizontal"
                 data-slider-value="30"
                 data-slider-selection="before"
                 data-slider-tooltip="show"
                 data-slider-handle="round">
            </div>
          </div>
        </div>
          <!-- <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Google Map - Dynamic Map</strong></div> -->
          <!-- <div class="panel-body" data-ng-controller="MapDemoCtrl"> -->
              <!-- <map class="ui-map" zoom="14" center="[43.6650000, -79.4103000]"></map> -->
          <!-- </div> -->
      </section>
   </section>
   <section class="col-md-6">
      <section ng-repeat="adventure in adventures | reverse | filter:searchText | filter:{size:filterSize}" class="col-md-6 min-400">
        <!-- profile panel -->
        <div class="panel panel-profile">
          <div class="panel-heading text-center" style="padding: 0px;">
            <a ng-href="#/adventures/{{adventure.$id}}">
              <div style="max-height:170px;overflow:hidden;border-radius: 3px;">
                <img alt="" style="width:100%;" ng-if="adventure.picture" ng-src="data:{{adventure.picture.filetype}};base64,{{adventure.picture.base64}}">
              </div>
            </a>
            <a ng-href="#/profiles/{{adventure.owner.id}}" class="pull-right" style="margin-top: -18px;margin-right: 10px;position: relative;border: 3px solid white;border-radius: 50%;">
              <img alt="" ng-if="adventure.picture" ng-src="data:{{adventure.owner.picture.filetype}};base64,{{adventure.owner.picture.base64}}" class="img30_30 img-circle">
            </a>
            <div class="clearfix" style="height: 0px;"></div>
            <h3><a ng-href="#/adventures/{{adventure.$id}}">{{adventure.name}}</a></h3>
            <p ng-show="adventure.size.length >= 1">{{adventure.size == '1' ? adventure.size + " Person": adventure.size + " People" }}</p>

          </div>
          <div class="list-justified-container" style="padding-top: 5px;">
            <ul class="list-justified text-center">
              <li>
                <p class="size-h3 color-success">${{adventure.price}}</p>
                <p class="text-muted">Person</p>
              </li>
              <li>
                <p class="size-h3">{{ adventure.location.split(',')[1]}}</p>
                <p class="text-muted">{{ adventure.location.split(',')[0] }}</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- end profile panel -->
      </section>
      <div class="clearfix"></div>
    </section>

</div>
