<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo">
        <a href="#/" ng-click="reloadRoute()">
            <!-- <span class="logo-icon glyphicon glyphicon-fire"></span> -->
            <i class="glyphicon glyphicon-tree-conifer logo-icon"></i>
            <span>{{main.brand}}</span>
        </a>
    </div>

    <!-- needs to be put after logo to make it working-->
    <div ng-show-auth class="menu-button sign-in" toggle-off-canvas>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>

    <div class="top-nav">
        <ul class="nav-left list-unstyled">
           <!--  <li ng-show-auth>
                <a href="#/" data-toggle-nav-collapsed-min
                             class="toggle-min"
                             id="step3"
                             ><i class="fa fa-bars"></i></a>
            </li> -->
            <li ng-hide-auth class="signin">
                <a href="#/about" ng-click="reloadRoute()">
                    About
                </a>
            </li>
            <li ng-hide-auth class="signin">
                <a href="#/contact" ng-click="reloadRoute()">
                    Contact
                </a>
            </li>
            <li ng-show-auth class="dropdown hidden-xs">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-ticket"></i>&nbsp; My Listings
                    <!-- <span class="badge badge-danger">3</span> -->
                </a>
                <div class="dropdown-menu with-arrow panel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a ng-href="#/adventure" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon-lined btn-icon-round btn-info"><i class="glyphicon glyphicon-plus"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block"><strong>Add A Listing</strong></span>
                                    <span class="text-muted block"><em>host new adventures</em></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#/your-adventures" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon-lined btn-icon-round btn-info"><i class="glyphicon glyphicon-calendar"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block"><strong>Manage Listings</strong></span>
                                    <span class="text-muted"><em>edit and review listings</em></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li ng-show-auth class="dropdown hidden-xs">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-leaf"></i>&nbsp; Adventures
                    <!-- <span class="badge badge-danger">3</span> -->
                </a>
                <div class="dropdown-menu with-arrow panel">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#/explore" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon-lined btn-icon-round btn-info"><i class="glyphicon glyphicon-search"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block"><strong>Explore</strong></span>
                                    <span class="text-muted block"><em>find new adventures</em></span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#/adventures" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon-lined btn-icon-round btn-info"><i class="glyphicon glyphicon-briefcase"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block"><strong>Booked Adventures</strong></span>
                                    <span class="text-muted"><em>view your booked adventures</em></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">

            <li ng-show-auth class="dropdown text-normal nav-profile">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="data:{{profile.picture.filetype}};base64,{{profile.picture.base64}}" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span data-i18n="{{profile.first_name}} {{profile.last_name}}"></span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                    <li>
                        <a href="#/my-profile">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/adventures">
                            <i class="glyphicon glyphicon-fire" style="margin-left:-3px;"></i>
                            <span data-i18n="My Adventures"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/your-adventures">
                            <i class="fa fa-ticket" style="margin-left:-1px;"></i>
                            <span data-i18n="My Listings"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#/account">
                            <i class="fa fa-lock"></i>
                            <span data-i18n="Account"></span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <i class="fa fa-sign-out"></i>
                            <span data-i18n="Log Out"></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-show-auth class="dropdown langs text-normal btn-new-adventure" >
                <a href="#/adventure">
                    <button type="button" class="btn btn-w-md btn-gap-v btn-danger" style="margin-top: -5px;">Host An Adventure</button>
                </a>
            </li>
            <li ng-hide-auth class="dropdown langs text-normal signin">
                <a href="#/login">
                    <i class="fa fa-user"></i>&nbsp;&nbsp;
                    <span data-i18n="Login / Sign Up"></span>
                </a>
            </li>
        </ul>
    </div>

</header>
