<div class="page text-center">
  <div class="jumbotron">
    <h1>Welcome To Outdoola.</h1>
    <p class="lead">
      <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
     Access Adventure.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/explore">Let's Explore</span></a></p>
  </div>
<div class="divider divider-lg"></div>

<div class="row">
    <div class="col-md-4">
        <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-primary">
                <i class="fa fa-cab"></i>
            </div>
            <div class="ui-bullet-content">
                <h3>This Bullet Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-info">
                <i class="fa fa-database"></i>
            </div>
            <div class="ui-bullet-content">
                <h3>Another Bullet Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ui-bullet">
            <div class="btn-icon btn-icon-round btn-icon-lg bg-danger">
                <i class="fa fa-joomla"></i>
            </div>
            <div class="ui-bullet-content">
                <h3>Last Bullet Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, nesciunt, eius accusamus quam quaerat molestiae voluptas dignissimos tempora non veniam. Sint libero quia repellendus eveniet dolores distinctio amet consectetur suscipit.</p>
            </div>
        </div>
    </div>
</div>

<div class="divider divider-lg"></div>
