<div class="page text-center dock-background">
  <div class="jumbotron">
    <h1 style="color:white;text-shadow: black 1px 1px;">Welcome To Outdoola.</h1>
    <p style="color:white;text-shadow: black 1px 1px;" class="lead">
      <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->
     Access Adventure.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/explore">Let's Explore</span></a></p>
  </div>
<div class="divider divider-lg"></div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h3><strong>Access Outdoor Adventure</strong></h3>
        <p>Ever wonder who has land available to hunt on? Wish you had a boat to use for fishing? Ever wanted to go camping for a week but wished you could go with a pro? Welcome to Outdoola. We are a new way to find trusted, quality access to locations, equipment, and guides to any outdoor activity.</p>
    </div>
    <div class="col-md-5">
        <h3><strong>Earn Money From Your Passions</strong></h3>
        <p>Want to make some extra cash on the side? Host an adventure. It can be anything from sharing your hunting land, boats, or other resources to giving a full tour if you're an experienced hunter, fisherman, or adventurer. You set the price and expectaions. You make the money.</p>
    </div>
</div>

<div class="divider divider-lg"></div>
