<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/ui"><i class="fa fa-ticket"></i><span data-i18n="Your Listings"></span></a>
            <ul>
                <li><a href="#/adventure"><i class="fa fa-angle-right"></i><span data-i18n="Add A Listing"></span></a></li>
                <li><a href="#/your-adventures"><i class="fa fa-angle-right"></i><span data-i18n="Manage Listings"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="glyphicon glyphicon-fire"></i><span data-i18n="Your Adventures"></span></a>
            <ul>
                <li><a href="#/explore"><i class="fa fa-angle-right"></i><span data-i18n="Explore"></span></a></li>
                <li><a href="#/search"><i class="fa fa-angle-right"></i><span data-i18n="Find Adventures"></span></a></li>
                <li><a href="#/adventures"><i class="fa fa-angle-right"></i><span data-i18n="Booked Adventures"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-user"></i><span data-i18n="Account"></span></a>
            <ul>
                <li><a href="#/account"><i class="fa fa-angle-right"></i><span data-i18n="Profile"></span></a></li>
            </ul>
        </li>
    </ul>
</div>
