<div class="page">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <h1 style="font-size: 40px;
                   font-heigh: 60px;
                   margin: 42px 0px;
                   text-align: center;
                   font-weight: bolder;
                   color: rgb(36, 138, 175);">{{adventure.name}}</h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6">
          <section class="panel panel-box info-box">
              <div class="panel-left panel-item bg-info">
                  <i class="fa fa-ticket text-large stat-icon" style="font-size: 60px;"></i>
              </div>
              <div class="panel-right panel-item bg-reverse">
                  <p class="size-h1 no-margin">132</p>
                  <p class="text-muted no-margin"><span data-i18n="Bookings">Bookings</span></p>
              </div>
          </section>
      </div>

      <div class="col-md-6">
          <section class="panel panel-box info-box">
              <div class="panel-left panel-item bg-success">
                  <i class="fa fa-dollar text-large stat-icon" style="font-size: 60px;"></i>
              </div>
              <div class="panel-right panel-item bg-reverse">
                  <p class="size-h1 no-margin">${{adventure.price}}</p>
                  <p class="text-muted no-margin"><span data-i18n="Per Person">Per Person</span></p>
              </div>
          </section>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-boxed nav-justified" ng-init="view='book'">
            <li><a href="" ng-click="view='book'"><i class="color-success fa fa-ticket"></i> Book Adventure</a></li>
            <li><a href="" ng-click="view='review'"><i class="color-info fa fa-bookmark"></i> Reviews</a></li>
            <li><a href="" ng-click="view='photos'"><i class="color-primary fa fa-camera"></i> Photos</a></li>
            <li><a href="" ng-click="view='map'"><i class="color-info-alt fa fa-map-marker"></i> Map</a></li>
            <li><a href="" ng-click="view='contact'"><i class="color-gray fa fa-phone-square"></i> Contact Host</a></li>
        </ul>
    </div>
    <div class="col-md-12 clearfix">
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="clearfix"></div>
      <div class="panel panel-default" ng-if="view=='book'">
        <div class="panel-body">
          <div class="col-md-6">
          <h3>Price: <strong>${{adventure.price}}</strong> / Person</h3>
          <h3><strong>Host:</strong> {{adventure.owner.email}}</h3>
          <h3 ng-show="adventure.size.length >= 1"><strong>This Adventure Books:</strong></h3>
          <h3 ng-show="adventure.size.length >= 1">{{adventure.size == '1' ? adventure.size + " Person": adventure.size + " People" }}</h3>
          </div>
          <div class="col-md-6">
            <h3><strong>What You're Getting Into:</strong></h3>
            <p>{{adventure.description}}</p>
            <button ng-show-auth type="button" class="btn btn-danger btn-lg btn-block" ng-class="{disabled:adventure.booked}" ng-click="addBooking()">{{ adventure.booked ? 'Already Booked' : 'Book Adventure' }}</button>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="panel panel-default" ng-if="view=='review'">
        <div class="panel-body">
         <div ng-show="review.adventureId == adventure.$id" class="media" ng-repeat="review in reviews | reverse">
              <blockquote class="blockquote-colored">
                <a ng-show="review.reviewer.id == user.uid" class="pull-right" href=""><span ng-click="reviews.$remove(review)" class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-left" ng-href="#/profiles/{{review.reviewer.id}}">
                  <img alt="" ng-src="data:{{review.reviewer.picture.filetype}};base64,{{review.reviewer.picture.base64}}" class="img-circle img64_64">
                </a>
                <div class="media-body" style="padding-left: 20px;">
                  <p>{{review.text}}</p>
                  <rating class="ui-rating size-h4 ui-rating-success"
                                ng-model="review.rating"
                                max="5"
                                readonly="true"
                                state-on="'fa fa-star'"
                                state-off="'fa fa-star-o'"></rating>
                  <small><a ng-href="#/profiles/{{review.reviewer.id}}">{{review.reviewer.first_name}} {{review.reviewer.last_name}}</a></small>
                </div>
              </blockquote>
          </div>
          <form ng-show-auth ng-init="newReview.rating = 5;">
            <div class="row">
              <div class="panel-body" data-ng-controller="RatingDemoCtrl">
                <div class="col-md-10">
                  <div><strong><span class="fa fa-bookmark"></span> YOUR RATING</strong> <b>{{newReview.rating}}</b>/5 </div>

                  <div class="form-group">
                    <textarea placeholder="Type your review here." class="form-control" ng-model="newReview.text"></textarea>
                    <rating class="ui-rating size-h3 pull-left"
                              ng-model="newReview.rating"
                              max="max"
                              readonly="isReadonly"
                              on-hover="hoveringOver(value)"
                              on-leave="overStar = null"
                              state-on="'fa fa-star'"
                              state-off="'fa fa-star-o'"></rating>
                  </div>
                  <button type="submit" class="btn btn-default btn-w-lg pull-right" ng-click="addReview(newReview);newReview.text = null;newReview.rating = 5;">submit review</button>
                </div>

              </div>
            </div>
          </form>
          <p class="alert alert-danger" ng-show="err">{{err}}</p>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="panel panel-default" ng-if="view=='photos'">
        <div class="panel-body">
          <h1>Photos</h1>
          <img ng-if="adventure.picture"  class="img-responsive img-thumbnail" ng-src="data:{{adventure.picture.filetype}};base64,{{adventure.picture.base64}}">
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="panel panel-default" ng-if="view=='map'">
        <div class="panel-body">
          <h1>Map</h1>
          <p>{{ adventure.location }}</p>
          <map ng-show="{{ adventure.location.length >= 1 }}" center="encodeAddress( {{ adventure.location }} );" zoom="12" map-type-id="TERRAIN" disable-default-u-i="true">
            <marker position="encodeAddress( {{ adventure.location }} );" icon="//s3.amazonaws.com/outdoola/marker.png"></marker>
          </map>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="panel panel-default" ng-if="view=='contact'">
        <div class="panel-body">
          <div class="col-md-6">
            <img ng-if="adventure.owner.picture"  class="img-responsive img-thumbnail img80_80" ng-src="data:{{adventure.owner.picture.filetype}};base64,{{adventure.owner.picture.base64}}">
            <h1>{{adventure.owner.first_name}} {{adventure.owner.last_name}}</h1>
            <h3>{{adventure.owner.email}}</h3>

          </div>
          <div class="col-md-6">
            <a ng-href="#/profiles/{{adventure.owner.id}}" class="btn btn-default btn-lg">View Owner's Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
