<div class="page">
  <h3>Your Hosted Adventures.</h3>
  <hr>
  <div ng-repeat="adventure in adventures | reverse" class="panel panel-default" ng-show="user.uid == adventure.text.owner.uid" >
    <form editable-form onaftersave="adventures.$save(adventure)" name="editableForm">
      <div class="clearfix panel-heading">
        <h3 class="panel-title"><a ng-href="#/adventures/{{adventure.$id}}"><a href="" editable-text="adventure.text.name">{{adventure.text.name}}</a></a></h3>
        <div class="pull-right">
          <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
              Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
              Cancel
            </button>
          </span>
          <button type="button" class="btn btn-primary" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"><span class="glyphicon glyphicon-cog"> <strong>Edit</strong></button>&nbsp;
          <button type="button" class="btn btn-danger" ng-click="adventures.$remove(adventure)"><span class="glyphicon glyphicon-remove"> <strong>Delete</strong></button>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6">
        <p>Price: <strong>$<a href="" editable-text="adventure.text.price">{{adventure.text.price}}</a></strong> / Person</p>
        <img ng-if="adventure.text.picture" class="img-responsive img-thumbnail" ng-src="data:{{adventure.text.picture.filetype}};base64,{{adventure.text.picture.base64}}">
        <!-- {{adventure.picture.filetype}};base64,{{adventure.picture.base64}} -->
        <!-- {{adventure.price}} -->
        </div>
        <div class="col-xs-6">
          <p><strong>What You're Getting Into:</strong></p>
          <p><a href="" editable-textarea="adventure.text.description">{{adventure.text.description}}</a></p>
          <p ng-show="adventure.text.size.length >= 1"><strong>This Adventure Books:</strong></p>
          <p ng-show="adventure.text.size.length >= 1">{{adventure.text.size == '1' ? adventure.text.size + " Person": adventure.text.size + " People" }}</p>
          <map ng-show="{{ adventure.text.location.length >= 1 }}" center="encodeAddress( {{ adventure.text.location }} );" zoom="12" map-type-id="TERRAIN" disable-default-u-i="true">
            <marker position="encodeAddress( {{ adventure.text.location }} );" icon="//s3.amazonaws.com/outdoola/marker.png"></marker>
          </map>
        </div>
      </div>
    </form>
  </div>
</div>
